.container {
  display: block;
  margin: 40px auto;
  max-width: 650px;
  padding: 50px;
  border: solid;
  border-width: thick;
  border-radius: 30px;
  border-color: lavender;
  color: #38598b;
}

h1 {
  margin: 20px 0px 0px;
  font-size: 38px;
}

.location-title {
  padding: 0;
}

.time-description {
  font-size: 10px;
}

h2 {
  margin: 0px;
  font-weight: 400;
  font-size: 24px;
}

.current-date {
  position: relative;
  top: 15px;
}

h3 {
  margin: 20px 0px 0px;
  font-size: 45px;
}

.search-button {
  background-color: lavender;
  color: #38598b;
  border: none;
}

.search-button:hover {
  background-color: lavender;
  color: #38598b;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
}
.current-button {
  background-color: #38598b;
  color: white;
  border: none;
}

.current-button:hover {
  background-color: #38598b;
  color: white;
  transition: all 200ms ease-in-out;
  opacity: 0.7;
}

.clock {
  text-align: end;
  padding: 0;
}

hr {
  color: lavender;
  opacity: 1;
  border-width: 3px;
  border-radius: 30px;
  margin: 10px 0px;
}

div.weather-forecast {
  margin-top: 30px;
  text-align: center;
  font-weight: 250;
}

div.weather-forecast-date {
  opacity: 0.7;
  font-size: 20px;
}

div.weather-forecast-temperature {
  font-size: 15px;
}

span.weather-forecast-temperature-min {
  opacity: 0.7;
}

i.weather-icon {
  text-align: center;
  display: block;
  margin: 7px auto;
  font-size: 30px;
}

i#current-date {
  font-style: normal;
  position: relative;
  left: 8px;
}

i#current-time {
  font-style: normal;
}

i#location {
  font-style: normal;
}

.weather-temperature {
  padding: 0px;
}

i#temperature {
  font-style: normal;
}

span#temperature-metric {
  font-style: normal;
  font-size: 20px;
  position: relative;
  bottom: 17px;
}

span#temperature-metric a {
  text-decoration: none;
  color: #38598b;
  opacity: 0.7;
}

span#temperature-metric a:hover {
  opacity: 1;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

ul {
  list-style: none;
  margin: 0px;
}

.weather-description {
  text-align: end;
  padding: 0px;
  margin: 20px 0px 0px;
}

.weather-list {
  position: relative;
  top: 20px;
  font-size: 13px;
}
div.github-source-code {
  text-align: center;
  font-size: 10px;
}
